    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "進捗管理アプリ", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "はじめる", '/records' %></li>
            <li><%= link_to "Home",   '/' %></li>
            <li><%= link_to "users",   '/users' %></li>
          </ul>
        </nav>
      </div>
    </header>